#draggable-wrapper { display:table; table-layout:fixed; width:100%;  margin-top:-1px; border-top:1px #e4e3e6 solid;  }
.draggable-part { min-height: 76vh; height: 76vh;  }
.fbox { border-right: 3px solid #e4e3e6; display: table-cell; vertical-align:top; float: none; min-height: 75vh; width: 267px; padding-bottom:50px; }
.fbox:last-child, .draggable-title:last-child, .fbox1:last-child { border-right:none; }
.fbox1 { border-right: 1px solid #e4e3e6; float: none; width:267px; display: table-cell; }
.top-row { display: table; table-layout: fixed; width:100%; }
#origin { border-left:1px #e4e3e6 solid; }
.draggable { background:#FFF; border-bottom:1px #e4e3e6 solid; padding:5px 45px 5px 10px; position:relative; cursor: move; }
.draggable-title .panel-title h4 { margin:0; color:#fff; font-size:16px; line-height:20px;  font-weight: 500; }
.draggable p { margin:0; color:#008AB1; font-size:14px;  font-weight: 500; line-height:20px; }
.draggable span { color:#000; font-size:13px; line-height:16px; }
.draggable-title span { color:#FDB928; font-size:13px; line-height:16px; }
.draggable-title span.value { color:#fff; }
.draggable-title {  background: #008AB1; z-index:0; border-bottom:1px #e4e3e6 solid; padding:5px 10px; position:relative; }
.notification-icon { position:absolute; right:10px; top:31px; }
.drop-btn { display: block; width:100%; padding:10px; }
/*#bottom-row { display:table; table-layout:fixed; width:100%; background: #fdfdfd; padding:10px 0; box-shadow:0 -3px 4px rgba(0, 0, 0, 0.3); margin-top:10px; background: -moz-linear-gradient(top, #fdfdfd 0%, #fafafa 50%, #f9f9f9 52%, #f4f6f7 100%); 
background: -webkit-linear-gradient(top, #fdfdfd 0%,#fafafa 50%,#f9f9f9 52%,#f4f6f7 100%); 
background: linear-gradient(to bottom, #fdfdfd 0%,#fafafa 50%,#f9f9f9 52%,#f4f6f7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f4f6f7',GradientType=0 ); }
#bottom-row  .fbox { padding:0 10px 0 10px; }
#bottom-row  .fbox:last-child { padding:0 10px 0 0; }
#bottom-row .btn { width:100%; padding:5px; font-size:18px; border-radius:4px; }*/
.draggable-detail { position: relative; width:92.7%; overflow-x: auto;} 
.drop-wrapper::after {
    background: #5cb85c none repeat scroll 0 0;
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.drop-wrapper {
    background: #d9534f none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    right: 0;
	top:0;
    padding-top: 65px;
    width: 100px;
	z-index:1;
}
#newdesign .page-header, #newdesign .footer-links.margin-top-10 {
	position:relative;
	z-index:2;
}
.drop-wrapper .fbox {
    border: medium none;
    display: inline-block;
    height: 50%;
    min-height: auto;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 1;
}
.drop-wrapper .fbox .btn{
    display: block;  
    padding: 10px;
    position: absolute;
    top: 0%;
	height:100%;
    width: 100%;
	box-shadow:none;
	border:none;
}
.drop-wrapper .fbox span {
   display: inline-block;
   -webkit-transform: rotate(270deg) translateY(2px);
	-moz-transform: rotate(270deg) translateY(2px);
	-ms-transform: rotate(270deg) translateY(2px);
	-o-transform: rotate(270deg) translateY(2px);
	transform: rotate(270deg) translateY(2px);
}


.draggable-title:after {
    border-color: #fff #fff #fff #6dd8f7;
    border-style: solid;
    border-width: 32px 0 31px 37px;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}
.draggable-title:before {
    border-color: transparent transparent transparent #008AB1;
    border-style: solid;
    border-width: 24px 0 23px 29px;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 0;
    z-index: 1;
}

.draggable-title span, .draggable span { font-size: 10px;}
@media (max-width: 1050px) {
.draggable-title .panel-title h4 { font-size:15px; }
}
@media (max-width: 850px){
.draggable-title .panel-title h4, .draggable p { font-size:13px; }
.draggable-title span, .draggable span { font-size:10px ; line-height: 14px; }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 991px) 
{
			.SelectList{ width: 31% !important; margin-left:10px; cursor:pointer; box-shadow:0px 0px 10px 1px lightgrey inset; }
			.set_but{margin-left:16px; clear:both;}
			.act , .in_act{margin-left:16px; clear:both;}
			.slider-viewport{margin-top:3px; margin-bottom:2px; margin-right:5px;}
}

@media (max-width: 767px) 
{
	.SelectList{ width:100% !important; }
}
