#createNewVersion.modal .modal-content .modal-body{
            overflow: visible !important;
        }

         
                @media (min-width: 1200px){

                    .modal-dialog {
                        /*width: 35% !important;*/
                    }
                }
                .checkboxes label, .radios label {
                    display: inline;
                }
                .tableDataContainer {
                    padding: 0 0 0 0;
                }
                .inline{ margin-right:5px;}
                td.details {
                    background-color: #f4f5f9;
                    padding: 0px !important;
                }
                .popover{ padding:0px;}
                .template-upload td .btn-primary{ background:#6dbb4a; border:#78CD51;}
                .template-upload td .btn-warning{ background:#6dbb4a;border:#78CD51;}
                .template-upload td .btn-warning:hover{ background:#47a447;border:#78CD51;}
                .template-upload td button span{ font-size:0px;}
                .table .btn {
                    display:inline;
                    padding-left: 8px;
                    margin-top: 9px;
                }
                /**===============Added By Sagar (06-06-2015) =================**/
                .table .inquiry_btn .btn {
                    display: inline;
                    padding-left: 8px;
                    margin-top: 0px;
                    margin-right: 6px;
                    padding: 5px 7px;
                }
                #containerplane .table {
                    font-size: 13px;
                }
                .table .inquiry_btn .btn {opacity: 1;}
                .table .inquiry_btn .btn.selected {opacity: 0.45;}
                
                
                #mailplate.front {
                    -webkit-transform: rotateY(0deg);
                    -moz-transform: rotateY(0deg);
                    -o-transform: rotateY(0deg);
                    -ms-transform: rotateY(0deg);
                    transform: rotateY(0deg);
                }
                .wing {
                    background: url('wing1.png') center center no-repeat;
                    -webkit-background-size: contain;
                    -moz-background-size: contain;
                    background-size: contain;
                    position: absolute;
                    -webkit-transform-origin: 0 0 0;
                    -moz-transform-origin: 0 0 0;
                    -o-transform-origin: 0 0 0;
                    -ms-transform-origin: 0 0 0;
                    transform-origin: 0 0 0;
                    -webkit-perspective: 1;
                    -moz-perspective: 1;
                    -ms-perspective: 1;
                    -o-perspective: 1;
                    perspective: 1;
                    -webkit-perspective-origin: 50% 50%;
                    -moz-perspective-origin: 50% 50%;
                    -ms-perspective-origin: 50% 50%;
                    -o-perspective-origin: 50% 50%;
                    perspective-origin: 50% 50%;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    -o-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transition: all 1.3s linear;
                    -moz-transition: all 1.3s linear;
                    -o-transition: all 1.3s linear;
                    -ms-transition: all 1.3s linear;
                    transition: all 1.3s linear;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    background: none;
                    border: none;
                /*                border-top: 240px solid hsla(0, 0%, 0%, 0);
                border-bottom: 0px solid hsla(0, 0%, 0%, 0);
                border-right: 100px solid hsl(0, 0%, 88%);*/
                border-top: 240px solid hsla(208, 75%, 49%, 0);
                border-bottom: 0px solid hsla(208, 75%, 49%, 0);
                border-right: 100px solid hsl(208, 75%, 49%);
                width: 0;
                height: 0;
                bottom: 0;
            }
            #containerplane {
                -webkit-perspective: 600;
                -moz-perspective: 600;
                -ms-perspective: 600;
                -o-perspective: 600;
                perspective: 600;
                -webkit-perspective-origin: 200px 131px;
                -moz-perspective-origin: 200px 131px;
                -ms-perspective-origin: 200px 131px;
                -o-perspective-origin: 200px 131px;
                perspective-origin: 200px 131px;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-transition: all 0.8s ease-in-out;
                -moz-transition: all 0.8s ease-in-out;
                -o-transition: all 0.8s ease-in-out;
                -ms-transition: all 0.8s ease-in-out;
                transition: all 0.8s ease-in-out;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                backface-visibility: hidden;
                position: absolute;
                left: 50%;
                width: 400px;
                height: 260px;
                top: 50%;
                margin-left: -200px;
                margin-top: -130px;
                text-align: center;
                display: block;
                z-index: 99999;
            }
            #mailplate {
                z-index:99999;
                background: hsl(208, 75%, 49%);
                /*                background: hsl(0, 0%, 88%);*/
                -webkit-transform: rotateY(-180deg);
                -moz-transform: rotateY(-180deg);
                -o-transform: rotateY(-180deg);
                -ms-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
                position: absolute;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                padding: 20px;
                text-align: center;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                backface-visibility: hidden;
                width: 400px;
                height: 260px;
                top: 50%;
                -webkit-transition: all 0.8s ease-in-out;
                -moz-transition: all 0.8s ease-in-out;
                -o-transition: all 0.8s ease-in-out;
                -ms-transition: all 0.8s ease-in-out;
                transition: all 0.8s ease-in-out;
                margin:0 auto;
                left: 50%;
                margin-left: -200px;
                margin-top: -130px;
            }
            #left-wing,#right-wing {
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
                width: 200px;
                height: 260px;
                display: block;
                position: absolute;
                top: 0px;
                -webkit-transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;
                -ms-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
            }
            #left-wing {
                -webkit-transform: rotateZ(0deg);
                -moz-transform: rotateZ(0deg);
                -o-transform: rotateZ(0deg);
                -ms-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
                -webkit-transform-origin: 100% 50% 0;
                -moz-transform-origin: 100% 50% 0;
                -o-transform-origin: 100% 50% 0;
                -ms-transform-origin: 100% 50% 0;
                transform-origin: 100% 50% 0;
                left: 0;
            }
            #right-wing {
                -webkit-transform: rotateZ(0deg);
                -moz-transform: rotateZ(0deg);
                -o-transform: rotateZ(0deg);
                -ms-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
                -webkit-transform-origin: 0% 50%;
                -moz-transform-origin: 0% 50%;
                -o-transform-origin: 0% 50%;
                -ms-transform-origin: 0% 50%;
                transform-origin: 0% 50%;
                left: 199px;
            }
            .wing1 {
                -webkit-transform-origin: 100% 100%;
                -moz-transform-origin: 100% 100%;
                -o-transform-origin: 100% 100%;
                -ms-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
                -webkit-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) skewY(-22.62deg);
                -moz-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) skewY(-22.62deg);
                -o-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) skewY(-22.62deg);
                -ms-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) skewY(-22.62deg);
                transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) skewY(-22.62deg);
            }
            .wing2 {
                -webkit-transform: rotateZ(22.62deg);
                -moz-transform: rotateZ(22.62deg);
                -o-transform: rotateZ(22.62deg);
                -ms-transform: rotateZ(22.62deg);
                transform: rotateZ(22.62deg);
                -webkit-transform-origin: 100% 100%;
                -moz-transform-origin: 100% 100%;
                -o-transform-origin: 100% 100%;
                -ms-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
                /*                border-left: 100px solid hsl(0, 0%, 88%);*/
                border-left: 100px solid hsl(208, 75%, 49%);
                border-right: none;
                left: 100px;
            }
            .wing3 {
                -webkit-transform: rotateZ(-22.62deg);
                -moz-transform: rotateZ(-22.62deg);
                -o-transform: rotateZ(-22.62deg);
                -ms-transform: rotateZ(-22.62deg);
                transform: rotateZ(-22.62deg);
                -webkit-transform-origin: 0% 100%;
                -moz-transform-origin: 0% 100%;
                -o-transform-origin: 0% 100%;
                -ms-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
                /*                border-right: 100px solid hsl(0, 0%, 88%);*/
                /*                border-right: 100px solid hsl(30, 96%, 52%);*/
                border-right: 100px solid hsl(208, 75%, 49%);
            }
            .wing4 {
                -webkit-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) skewY(22.62deg);
                -moz-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) skewY(22.62deg);
                -o-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) skewY(22.62deg);
                -ms-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) skewY(22.62deg);
                transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) skewY(22.62deg);
                -webkit-transform-origin: 0% 100%;
                -moz-transform-origin: 0% 100%;
                -o-transform-origin: 0% 100%;
                -ms-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
                border-right: none;
                /*                border-left: 100px solid hsl(0, 0%, 88%);*/
                border-left: 100px solid hsl(208, 75%, 49%);
                left: 100px;
            }
            #containerplane.hover #left-wing {
                -webkit-transform: rotateY(60deg);
                -moz-transform: rotateY(60deg);
                -o-transform: rotateY(60deg);
                -ms-transform: rotateY(60deg);
                transform: rotateY(60deg);
            }
            #containerplane.hover #right-wing {
                -webkit-transform: rotateY(-60deg);
                -moz-transform: rotateY(-60deg);
                -o-transform: rotateY(-60deg);
                -ms-transform: rotateY(-60deg);
                transform: rotateY(-60deg);
            }
            #containerplane.hover.fly_away_first {
                -webkit-transform: translatex(-100px) translateZ(300px) rotateX(42deg) rotateY(-11deg) rotateZ(27deg);
                -moz-transform: translatex(-100px) translateZ(300px) rotateX(42deg) rotateY(-11deg) rotateZ(27deg);
                -o-transform: translatex(-100px) translateZ(300px) rotateX(42deg) rotateY(-11deg) rotateZ(27deg);
                -ms-transform: translatex(-100px) translateZ(300px) rotateX(42deg) rotateY(-11deg) rotateZ(27deg);
                transform: translatex(-100px) translateZ(300px) rotateX(42deg) rotateY(-11deg) rotateZ(27deg);
                -webkit-transition-delay: 0;
                -moz-transition-delay: 0;
                -o-transition-delay: 0;
                -ms-transition-delay: 0;
                transition-delay: 0;
                -webkit-transition-duration: 0.4s;
                -moz-transition-duration: 0.4s;
                -o-transition-duration: 0.4s;
                -ms-transition-duration: 0.4s;
                transition-duration: 0.4s;
                -webkit-transition-timing-function: ease-out;
                -moz-transition-timing-function: ease-out;
                -o-transition-timing-function: ease-out;
                -ms-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
            #containerplane.hover.fly_away_first.fly_away {
                -webkit-transform: translateX(600px) translateY(-400px) translateZ(-5000px) rotateX(66deg) rotateY(-12deg) rotateZ(36deg);
                -moz-transform: translateX(600px) translateY(-400px) translateZ(-5000px) rotateX(66deg) rotateY(-12deg) rotateZ(36deg);
                -o-transform: translateX(600px) translateY(-400px) translateZ(-5000px) rotateX(66deg) rotateY(-12deg) rotateZ(36deg);
                -ms-transform: translateX(600px) translateY(-400px) translateZ(-5000px) rotateX(66deg) rotateY(-12deg) rotateZ(36deg);
                transform: translateX(600px) translateY(-400px) translateZ(-5000px) rotateX(66deg) rotateY(-12deg) rotateZ(36deg);
                -webkit-transition: -webkit-transform 2s ease-out, opacity 1.5s 0.5s linear;
                -moz-transition: -moz-transform 2s ease-out, opacity 1.5s 0.5s linear;
                -o-transition: -o-transform 2s ease-out, opacity 1.5s 0.5s linear;
                -ms-transition: -ms-transform 2s ease-out, opacity 1.5s 0.5s linear;
                transition: transform 2s ease-out, opacity 1.5s 0.5s linear;
                opacity: 0;
            }
            #containerplane.hover .wing1 {
                -webkit-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) rotateY(-60deg) skewY(-22.62deg);
                -moz-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) rotateY(-60deg) skewY(-22.62deg);
                -o-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) rotateY(-60deg) skewY(-22.62deg);
                -ms-transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) rotateY(-60deg) skewY(-22.62deg);
                transform: translateY(-38px) translateX(8px) rotateZ(22.62deg) rotateY(-60deg) skewY(-22.62deg);
                /*                border-right: 100px solid hsl(0, 0%, 95%);*/
                border-right: 100px solid hsl(208, 75%, 49%);
            }
            #containerplane.hover .wing2 {
                /*                border-left: 100px solid hsl(0, 0%, 85%);*/
                border-left: 100px solid hsl(208, 75%, 49%);
            }
            #containerplane.hover .wing3 {
                /*                border-right: 100px solid hsl(0, 0%, 71%);*/
                border-right: 100px solid hsl(208, 75%, 49%);
            }
            #containerplane.hover .wing4 {
                -webkit-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) rotateY(60deg) skewY(20deg);
                -moz-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) rotateY(60deg) skewY(20deg);
                -o-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) rotateY(60deg) skewY(20deg);
                -ms-transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) rotateY(60deg) skewY(20deg);
                transform: translateY(-38px) translateX(-8px) rotateZ(-22.62deg) rotateY(60deg) skewY(20deg);
                /*                border-left: 100px solid hsl(0, 0%, 95%);*/
                border-left: 100px solid hsl(208, 75%, 49%);
            }
            #containerplane.hover {
                -webkit-transform: rotateX(54deg) rotateY(-10deg) rotateZ(25deg);
                -moz-transform: rotateX(54deg) rotateY(-10deg) rotateZ(25deg);
                -o-transform: rotateX(54deg) rotateY(-10deg) rotateZ(25deg);
                -ms-transform: rotateX(54deg) rotateY(-10deg) rotateZ(25deg);
                transform: rotateX(54deg) rotateY(-10deg) rotateZ(25deg);
                -webkit-transition-delay: 0.5s;
                -moz-transition-delay: 0.5s;
                -o-transition-delay: 0.5s;
                -ms-transition-delay: 0.5s;
                transition-delay: 0.5s;
            }
            #containerplane.beginning {
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -o-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
            .message {
                width: 100%;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                height: 140px;
                -webkit-font-smoothing: subpixel-antialiased;
                -moz-font-smoothing: subpixel-antialiased;
                -ms-font-smoothing: subpixel-antialiased;
                -o-font-smoothing: subpixel-antialiased;
                font-smoothing: subpixel-antialiased;
                font-size: 14px;
                font-family: Helvetica, Arial, Verdana;
                line-height: 20px;
            }
            .sendmailtrig:active {
                -webkit-transform: scale(0.85);
                -moz-transform: scale(0.85);
                -o-transform: scale(0.85);
                -ms-transform: scale(0.85);
                transform: scale(0.85);
                -webkit-transition: all 10ms ease-in-out;
                -moz-transition: all 10ms ease-in-out;
                -o-transition: all 10ms ease-in-out;
                -ms-transition: all 10ms ease-in-out;
                transition: all 10ms ease-in-out;
                background-color: hsl(0, 0%, 85%);
                border: 2px solid hsl(103, 55%, 55%);
            }
            .curvable.top_left {
                -webkit-transform-origin: 100px 112px;
                -moz-transform-origin: 100px 112px;
                -o-transform-origin: 100px 112px;
                -ms-transform-origin: 100px 112px;
                transform-origin: 100px 112px;
                -webkit-transition-delay: 1300ms;
                -moz-transition-delay: 1300ms;
                -o-transition-delay: 1300ms;
                -ms-transition-delay: 1300ms;
                transition-delay: 1300ms;
                width: 0;
                height: 0;
                top: 0;
                /*
                
                border-right: 202px solid hsla(0, 0%, 0%, 0);
                border-bottom: 202px solid hsla(0, 0%, 0%, 0);
                border-top: 223px solid hsl(0, 0%, 88%);*/
                border-right: 202px solid hsla(208, 75%, 64%, 0);
                border-bottom: 202px solid hsla(208, 75%, 64%, 0);
                border-top: 223px solid hsl(208, 75%, 64%);
            }
            .curvable {
                -webkit-transition: -webkit-transform 800ms ease-out;
                -moz-transition: -moz-transform 800ms ease-out;
                -o-transition: -o-transform 800ms ease-out;
                -ms-transition: -ms-transform 800ms ease-out;
                transition: transform 800ms ease-out;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                backface-visibility: hidden;
                position: absolute;
                background-color: transparent;
                z-index: 0;
                width: 0;
            }
            .top_right.curvable {
                right: 0;
                /*                border-left: 202px solid hsla(0, 0%, 0%, 0);
                border-bottom: 202px solid hsla(0, 0%, 0%, 0);
                border-top: 224px solid hsl(0, 0%, 88%);*/
                border-left: 202px solid hsla(208, 75%, 64%, 0);
                border-bottom: 202px solid hsla(208, 75%, 64%, 0);
                border-top: 224px solid hsl(208, 75%, 64%);
                -webkit-transform-origin: 96px 112px;
                -moz-transform-origin: 96px 112px;
                -o-transform-origin: 96px 112px;
                -ms-transform-origin: 96px 112px;
                transform-origin: 96px 112px;
                -webkit-transition-delay: 1650ms;
                -moz-transition-delay: 1650ms;
                -o-transition-delay: 1650ms;
                -ms-transition-delay: 1650ms;
                transition-delay: 1650ms;
            }
            .bottom_left.curvable {
                -webkit-transform-origin: 109px 0;
                -moz-transform-origin: 109px 0;
                -o-transform-origin: 109px 0;
                -ms-transform-origin: 109px 0;
                transform-origin: 109px 0;
                -webkit-transition-delay: 2100ms;
                -moz-transition-delay: 2100ms;
                -o-transition-delay: 2100ms;
                -ms-transition-delay: 2100ms;
                transition-delay: 2100ms;
                width: 109px;
                height: 38px;
                /*                background: hsl(0, 0%, 88%);*/
                background: hsl(208, 75%, 64%);
                bottom: 0;
                left: 0;
            }
            .bottom_left.curvable:after {
                position: absolute;
                content: "";
                /*                border-right: 92px solid hsla(0, 0%, 0%, 0);
                border-bottom: 39px solid hsl(0, 0%, 88%);
                border-top: 37px solid hsla(0, 0%, 0%, 0);*/
                content: "";
                border-right: 92px solid hsla(208, 75%, 64%, 0);
                border-bottom: 39px solid hsl(208, 75%, 64%);
                border-top: 37px solid hsla(208, 75%, 64%, 0);
                left: 109px;
                bottom: 0;
            }
            .bottom_right.curvable {
                -webkit-transform-origin: 0px 0;
                -moz-transform-origin: 0px 0;
                -o-transform-origin: 0px 0;
                -ms-transform-origin: 0px 0;
                transform-origin: 0px 0;
                -webkit-transition-delay: 2450ms;
                -moz-transition-delay: 2450ms;
                -o-transition-delay: 2450ms;
                -ms-transition-delay: 2450ms;
                transition-delay: 2450ms;
                width: 109px;
                height: 38px;
                /*                background: hsl(0, 0%, 88%);*/
                background: hsl(208, 75%, 64%);
                bottom: 0;
                right: 0;
            }
            .bottom_right.curvable:after {
                position: absolute;
                content: "";
                /*                border-left: 92px solid hsla(0, 0%, 0%, 0);
                border-bottom: 39px solid hsl(0, 0%, 88%);
                border-top: 37px solid hsla(0, 0%, 0%, 0);*/
                border-left: 92px solid hsla(208, 75%, 64%, 0);
                border-bottom: 39px solid hsl(208, 75%, 64%);
                border-top: 37px solid hsla(208, 75%, 64%, 0);
                left: -92px;
                bottom: 0;
            }
            .top_left.curvable.curved {
                -webkit-transform: rotate3d(1,-1.11,0,180deg);
                -moz-transform: rotate3d(1,-1.11,0,180deg);
                -o-transform: rotate3d(1,-1.11,0,180deg);
                -ms-transform: rotate3d(1,-1.11,0,180deg);
                transform: rotate3d(1,-1.11,0,180deg);
            }
            .bottom_left.curvable.curved {
                -webkit-transform: rotate3d(2.4867,1,0,-180deg);
                -moz-transform: rotate3d(2.4867,1,0,-180deg);
                -o-transform: rotate3d(2.4867,1,0,-180deg);
                -ms-transform: rotate3d(2.4867,1,0,-180deg);
                transform: rotate3d(2.4867,1,0,-180deg);
            }
            .bottom_right.curvable.curved {
                -webkit-transform: rotate3d(-2.4867,1,0,180deg);
                -moz-transform: rotate3d(-2.4867,1,0,180deg);
                -o-transform: rotate3d(-2.4867,1,0,180deg);
                -ms-transform: rotate3d(-2.4867,1,0,180deg);
                transform: rotate3d(-2.4867,1,0,180deg);
            }
            .top_right.curvable.curved {
                -webkit-transform: rotate3d(1,1.11,0,180deg);
                -moz-transform: rotate3d(1,1.11,0,180deg);
                -o-transform: rotate3d(1,1.11,0,180deg);
                -ms-transform: rotate3d(1,1.11,0,180deg);
                transform: rotate3d(1,1.11,0,180deg);
            }
            #containerplane.hover .wing {
                -webkit-backface-visibility: visible;
                -moz-backface-visibility: visible;
                -ms-backface-visibility: visible;
                -o-backface-visibility: visible;
                backface-visibility: visible;
            }
            #containerplane.hover .curved {
                display: none;
            }
            #codepen_link{
                text-decoration: none;
                font-size: 22px;
                vertical-align: bottom;
            }
            #bottom {
                position: absolute;
                right: 7px;
                bottom: 0;
                width: 30px;
                height: 30px;
            }
            .padd{
                padding: 5px 12px;
            }