/*
 *
 * Created By : Nazim khan.
 * Company : Lithe Technologies Pvt Ltd.
 * Date : 08-01-2015.
 * File : gMapController.
 * File Type : .css.
 * Project : Google Map Api
 *
 * */

#map {
    height: 100%;
    float: left;
    width: 100%;
    /*min-width: 1024px;*/
    min-height:79.8vh;
}
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}
.padding-manual {
    padding: 11px 20px 7px 20px !important;
}
.panel > .panel-heading .panel-title h4 { font-weight: normal; }
#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

#right-panel {
  margin: 20px;
  border-width: 2px;
  width: 20%;
  float: left;
  text-align: left;
  padding-top: 20px;
}
#directions-panel {
  margin-top: 20px;
  background-color: #FFEE77;
  padding: 10px;
}
.labels{
  color: white;
  background-color: gray;
  font-family:"Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 60px;     
  border: 1px solid black;
  border-radius: 10%;
  white-space: nowrap;
  padding: 2px; 
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('images/Earth-animated2.gif') 50% 50% no-repeat rgba(0,0,0,0.8);
}
