/*style for menu color*/

.nav-menu .hamburger .patty {
    background: #008ab1;
}
.nav-menu.active .patty {
    background: #fff;
}
.nav-search .search:before {
    border-color: #008ab1;
}
.nav-search .search:after {
    background: #008ab1;
}
.nav-search.active .search:before {
    background: #fff;
    border: none;
}
.nav-search.active .search:after {
    background: #fff;
}
.overlay .starting-point span {
    background-color: #0077c0;
}
.layer-container .menu-layer li.open > a, .layer-container .menu-layer li:hover > a {
    color: #0077c0;
}
.layer-container .menu-layer li.open:before, .layer-container .menu-layer li:hover:before {
    color: #008ab1;
}
.layer-container .menu-layer li .child-menu li a {
    color: #008ab1;
}
.layer-container .menu-layer li .child-menu li.has-child:before {
    color: #008ab1;
}
.layer-container .menu-layer li .child-menu li.has-child.open {
    background: rgba(0, 138, 177, 0.1);
}
.layer-container .menu-layer li .child-menu li:hover .hover-bg {
    background: rgba(0, 138, 177, 0.1);
}
.layer-container .menu-layer li .child-menu li.open {
    background: rgba(0, 138, 177, 0.1);
}
.layer-container .menu-layer.active {
    background: #0077c0;
}
.layer-container .search-layer.active {
    background: #008ab1;
}
.layer-container .user-layer .nav > li > a {
    color: #008ab1;
}
.layer-container .user-layer .nav > li.active > a {
    color: #fff;
    background: #008ab1;
}
.layer-container .user-layer .nav > li.active > a:hover, .layer-container .user-layer .nav > li.active > a:focus {
    background: #008ab1;
}
.layer-container .user-layer .tab-content .message-list .selected a {
    background: rgba(0, 138, 177, 0.1) !important;
}
.layer-container .user-layer .tab-content .message-list .list-content .title {
    color: #008ab1;
}
.layer-container .user-layer #messages .mobile-back {
    background: #008ab1;
}
.messages .message.right .message-text {
    background-color: #00e2cc;
}
.messages .message.right .message-text:before {
    background-color: #00e2cc;
}
#customerUserHerierchy {
    font-size: 14px;
    padding-top: 0px;
    text-align: right;
    float: right;
    display: inline-block; 
    position: initial;
    height: initial;
}
@media (max-width: 768px) {
    #customerUserHerierchy {
        text-align: left;
    }
    .overflow-table {
        overflow: auto !important;
    }
    #requestedDate {
        margin-bottom: 10px;
    }
    .top-10-sm {
        margin-top: 10px;
    }
    .btn-right-mrg {
        margin-bottom: 3px !important;
    }
}
@media (max-width: 480px) {
    body {
        font-size: 14px !important
    }
    .layout-device.bg-login .login-screen {
        width: 95%;
    }
    .btn {
        margin-bottom: 3px !important;
    }
    .card.card-user .card-heading .user-image {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 5px solid #fff;
    }
    .user-text b {
        top: 5px !important;
        position: relative;
        text-align: center;
    }
    .font-changes {
        font-size: 20px !important;
    }
    .user-text {
        font-size: 20px !important
    }
    .cust-h4 {
        font-size: 28px !important
    }
    #customerUserHerierchy {
        font-size: 14px;
        padding-top: 0;
        text-align: left;
        margin-left: 10px
    }
    .nav-tabs.nav-justified > li {
        border-bottom: 1px solid #ffd !important;
        transition-duration: 0.5s;
    }
    .nav-tabs.nav-justified > li.tab-top-color.active, .nav-tabs.nav-justified > li.tab-bottom-color.active {
        border-bottom: 3px solid rgba(0, 0, 0, 0.5) !important;
        transition-duration: 0.5s;
    }
    ul.colorTab li a, ul.colorTab li.active a, ul.colorTab li a:hover, ul.colorTab li.active a:hover, ul.colorTab li a:focus, ul.colorTab li.active a:focus {
        border-right: 0px !important;
    }
    .form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group {
        margin-bottom: 5px !important
    }
    .top-10-sm {
        margin-top: 10px;
    }
    .checkboxer input[type="checkbox"] + label {
        width: auto;
        white-space: normal
    }
    .card.card-light-blue a.btn {
        margin-right: 3px;
    }
    .btn-right-mrg:last-child {
        margin-right: 1px;
    }
    div.dataTables_filter label {
        font-weight: normal;
        float: left;
        text-align: left;
        margin-top: 10px;
    }
    .gray-textNotif {
        padding-left: 0;
        display: inline-block;
    }
    /*
    .sm-half .nav-tabs.nav-justified > li {
        float: left;
        width: 50%;
        height: 45px
    }
*/
    /*
    .pagination {
        display: flex;
    }
    .pagination > li > a, .pagination > li > span {
        white-space: nowrap;
        width: 100%
    }
*/
    .popover {
        max-width: 100%
    }
    .statusdiv.pull-right {
        float: none !important
    }
    .btn-edit {
        margin-right: 3px;
    }
    .drop-wrapper .fbox span {
        display: inline-block;
        -webkit-transform: rotate(270deg) translateY(-5px);
        -moz-transform: rotate(270deg) translateY(-5px);
        -ms-transform: rotate(270deg) translateY(-5px);
        -o-transform: rotate(270deg) translateY(-5px);
        transform: rotate(270deg) translateY(-5px);
    }
    .xs-no-padd {
        padding: 0;
    }
    #sectionData.tab-content {
        padding: 0
    }
    #proposalList table .btn-xs {width: 16px;}
    #allocationTimeline:before{left: 0 ;}
    #allocationTimeline .tl-wrap{float: none;padding:15px 0 15px 20px;min-width: auto}
    #allocationTimeline .timeline-inverted .tl-wrap{padding: 15px 0 15px 20px !important;}
    #allocationTimeline .timeline-inverted  .tl-wrap:before{right: -25px}
}